  <div class="equipe", id="target-equipe-section">
    <h1>NOTRE ÉQUIPE</h1>
    <div class="equipe-all-members">


      <%# MEMBRE 1 %>
      <div class="membre">
        <div class="profile-pic-membre">
          <%= image_tag image_url("cedric_profile.jpg"), class: "avatar-equipe"%>
        </div>
        <div class="membre-content-titre" style="text-align: center;">
          <h3 >Cedric Arend</h3>
          <h4>Kinésithérapeute & Ostéo-éthiopathe D.Oe.</h4>
        </div>
        <div class="membre-content-description">
          <p id="partialText1">
            « Ma ligne de conduite dans la prise en charge de patients est la parfaite connaissance de l’anatomie et de la physiologie du corps humain...»
          </p>
          <button id="moreButton1" class="btn-small" style="text-decoration: none; border: 0px;">Prendre rendez-vous</button>
          <%# <button id="moreButton1" class="moreButton">Prendre rendez-vous</button> %>
          <%#= link_to "Prendre RDV", "#", class: "btn-small scroll-button3", style: "text-decoration: none;", data: { target: "target-contact-section" } %>
        </div>
        <!-- The hidden pop-up div -->
        <div id="popup1" class="popup">
          <div class="popup-content">
            <span class="close" id="closePopup1">&times;</span>
            <%= render "pages/team_popup/cedric" %>
          </div>
        </div>
      </div>


      <%# MEMBRE 2 %>
      <div class="membre">
        <div class="profile-pic-membre">
          <%= image_tag image_url("pascal_profile.jpg"), class: "avatar-equipe"%>
        </div>
        <div class="membre-content-titre">
          <h3>Pascal Vigneron</h3>
          <h4>Kinésithérapeute & Ostéo-éthiopathe D.Oe.</h4>
        </div>
        <div class="membre-content-description">
          <p id="partialText2">
            « Ma philosophie de travail repose sur une approche holistique qui considère l'individu dans sa totalité, en intégrant le corps et l'esprit...»
          </p>
          <button id="moreButton2" class="btn-small" style="text-decoration: none; border: 0px;">Prendre rendez-vous</button>
          <%# <button id="moreButton2" class="moreButton">Lire la suite</button> %>
          <%#= link_to "Prendre RDV", "#", class: "btn-small scroll-button3", style: "text-decoration: none;", data: { target: "target-contact-section" } %>
        </div>
        <!-- The hidden pop-up div -->
        <div id="popup2" class="popup">
          <div class="popup-content">
            <span class="close" id="closePopup2">&times;</span>
            <%= render "pages/team_popup/pascal" %>
          </div>
        </div>
      </div>


      <%# MEMBRE 3 %>
      <div class="membre">
        <div class="profile-pic-membre">
          <%= image_tag image_url("job_profile.jpg") , class: "avatar-equipe"%>
        </div>
        <div class="membre-content-titre">
          <h3>Job Mabanga</h3>
          <h4>Kinésithérapeute & Ostéo-éthiopathe D.Oe.</h4>
        </div>
        <div class="membre-content-description">
          <p id="partialText3">
            « Bonjour, je suis un master en kinésithérapie et ostéo-étiopathe très dynamique qui a à cœur de vous aider à mener une vie active et sans douleur...»
          </p>
          <button id="moreButton3" class="btn-small" style="text-decoration: none; border: 0px;">Prendre rendez-vous</button>
          <%# <button id="moreButton3" class="moreButton">Lire la suite</button> %>
          <%#= link_to "Prendre RDV", "#", class: "btn-small scroll-button3", style: "text-decoration: none;", data: { target: "target-contact-section" } %>
        </div>
        <!-- The hidden pop-up div -->
        <div id="popup3" class="popup">
          <div class="popup-content">
            <span class="close" id="closePopup3">&times;</span>
            <%= render "pages/team_popup/job" %>
          </div>
        </div>
      </div>


      <%# MEMBRE 4 %>
      <div class="membre">
        <div class="profile-pic-membre">
          <%= image_tag image_url("rinor_profile.jpg") , class: "avatar-equipe"%>
        </div>
        <div class="membre-content-titre">
          <h3>Rinor Aziri</h3>
          <h4>Kinésithérapeute spéc. en thérapie manuelle analytique</h4>
        </div>
        <div class="membre-content-description">
          <p id="partialText4">
            « Le sport a toujours occupé une place prépondérante dans mon existence, constituant l'un des principaux facteurs qui ont orienté mon choix vers la poursuite...»
          </p>
          <button id="moreButton4" class="btn-small" style="text-decoration: none; border: 0px;">Prendre rendez-vous</button>
          <%# <button id="moreButton4" class="moreButton">Lire la suite</button> %>
          <%#= link_to "Prendre RDV", "#", class: "btn-small scroll-button3", style: "text-decoration: none;", data: { target: "target-contact-section" } %>
        </div>
        <!-- The hidden pop-up div -->
        <div id="popup4" class="popup">
          <div class="popup-content">
            <span class="close" id="closePopup4">&times;</span>
            <%= render "pages/team_popup/rinor" %>
          </div>
        </div>
      </div>


      <%# MEMBRE 5 %>
      <div class="membre">
        <div class="profile-pic-membre">
          <%= image_tag image_url("muriel_profile.jpg") , class: "avatar-equipe"%>
        </div>
        <div class="membre-content-titre">
          <h3>Muriel Bully</h3>
          <h4>Kinésitherapeute spéc. en uro-gynécologie & Sexologue</h4>
        </div>
        <div class="membre-content-description">
          <p id="partialText5">
            « Les relations humaines, le fonctionnement du corps humain tant sur l’aspect physique, émotionnel que psychologique et mental sont des passions que...»
          </p>
          <button id="moreButton5" class="btn-small" style="text-decoration: none; border: 0px;">Prendre rendez-vous</button>
          <%# <button id="moreButton5" class="moreButton">Lire la suite</button> %>
          <%#= link_to "Prendre RDV", "#", class: "btn-small scroll-button3", style: "text-decoration: none;", data: { target: "target-contact-section" } %>
        </div>
        <!-- The hidden pop-up div -->
        <div id="popup5" class="popup">
          <div class="popup-content">
            <span class="close" id="closePopup5">&times;</span>
            <%= render "pages/team_popup/muriel" %>
          </div>
        </div>
      </div>

    </div>
  </div>
