<!DOCTYPE html>
<html>
  <head>
    <title>Physiosteos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= javascript_include_tag '/app/javascript/controllers/map.js' %>
  </head>

  <body style="background-color: white;">
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/footer" %>
  </body>
</html>
